[Desktop Entry]
Name=notesec
Comment=Fast, GPU-rendered outliner notes app
Exec=notesec
Icon=notesec
Terminal=false
Type=Application
Categories=Office;TextEditor;
StartupWMClass=notesec
